@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    font-family: 'Staatliches', cursive;
    margin: 0;
}

:root{
    --grey: #3e4641;
    --yellow: #d5b85b;
    --bg: #f3f0e5;
    --blue: #547b74;
}

body{
    background-color: var(--bg);
}


.menu{
    width: 45px;
    top: 2%;
    position: absolute;
    right: 4%;

}

/*FORSIDE*/
/*header*/
.yellow-header{
    width: 100%;
    position: relative;
    display: inline-block;
}

h1{
    position: absolute;
    top: 4%;
    left: 4%;
    color: var(--bg);
    font-family: 'Staatliches', cursive;
    font-size: 45px;
    font-weight: 400;

}

h2{
    position: absolute;
    top: 10%;
    left: 4%;
    color: var(--bg);
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
}

/*main content*/
.fokus{
    padding: 45px;
}

.fokus h3{
    font-weight: 400;
    text-align: center;

}

.fokus p{
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.fokus h4{
    font-weight: 400;
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
}

.fokus h5{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-weight: initial;
    font-size: 13px;
}

/*footer til forside*/
.bund{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 0;
    
}




/*FOTOGRAFI-SIDE*/
.foto-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 38px;

}

.fotos{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 54px;

}

h6{
    text-align: center;
    font-size: 20px;
    columns: var(--grey);
    font-weight: 400;
}



